/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    overflow-x: hidden;
}
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@font-face{
        src:url("../fonts/pictos-regular-webfont.ttf") format("truetype"), url("../fonts/pictos-regular-webfont.otf") format("opentype"), url("../fonts/pictos-regular-webfont.svg") format("svg");
        font-family:icon;
}

body, h1, h2, h3, h4, h5, h6, a, p{
    font-family: "Open Sans";
}


header .logo{
    margin-bottom: 3em;
}
.mainmenu-container{
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 0;
}

ul.mainmenu{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
ul.mainmenu li{   
    margin-right: 1em;
    display: inline-block;
    font-size: 1em;
}
ul.mainmenu li:last-child{
    margin-right: 0;
}
ul.mainmenu li a,ul.mainmenu li a:link,ul.mainmenu li a:active,ul.mainmenu li a:visited{
    padding: 1em 2em;
    color: #EEE;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    background: #c63c0c;
    line-height: 4em;
}
ul.mainmenu li.active a,ul.mainmenu li.active a:link,ul.mainmenu li.active a:active,ul.mainmenu li.active a:visited{
    color: #EEE;
    background: #772407;
}

ul.mainmenu li a:hover{
    color: white;
    background: #772407;
}


.hero{
    width: 100%;
    position: relative;
    clear: both;
    margin-bottom: 60px;
}
.hero img{
    width: 100%;
    display: block;
    position: relative;
}
.hero .hero-text{
    position: absolute;
    top: 40%;
    width: 100%;
    
}

.hero .hero-text h1{
    text-align: center;
    color: white;
    font-weight: 100;
    font-family: "Open Sans";
}

.article{
    margin-bottom: 100px;
}

.article-header h1{
    border-bottom: 1px solid #AAA;
    color: #AAA;
    font-family: icon;
}
.article-header h1{
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}


.social h3{
    line-height: 2em;
}
.social img{
    
}
.social a{
    margin:0 1em;
    display: inline-block;
    width: 1.5em;
    padding: 0.5em;
    vertical-align: middle;
    border-radius: 6px;
    
}
.social a:link,.social a:visited{
    background: #DDD;
}
.social .twitter:hover{
    background: #4099FF;
}
.social .facebook:hover{
    background: #3B5998;
}
.social .plus:hover{
    background: #2d2d2d;
}

article p{
    text-align: left;
}
.read-more, .read-more:link, .read-more:active, .read-more:visited{
    display: block;
    text-align: center;
    font-weight: bold;
    clear: both;
    padding: 1em 2em;
    color: #EEE;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    background: #c63c0c;
}
.read-more:hover{
    color: white;
    background: #772407;
}
article{
    color: #444;
}
article h1{
    text-align: left;
    float: left;
    margin: 0;
}
article hr{
    clear: both;
    border: none;
}
.specs{
    text-align: left;
    font-style: italic;
}
article address{
    display: inline;
}
.article-body{
    text-align: left;
}
article a, article a:link, article a:visited{
    text-decoration: none;
    color: #c63c0c;;
}
article a:hover{
    color: #772407;
}

footer{
    background: #c63c0c;
    overflow: auto;
    padding: 1em;
    width: 100%;
}
footer p{
    color: white;
}

/*Wordpress image styles*/
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {
    ul.mainmenu{
        float: right;
        margin-top: 2em;
    }
    ul.mainmenu li{
        float: left;
        margin-left: 1em;
        margin-right: 0;
        display: block;
    }
    ul.mainmenu li a,ul.mainmenu li a:link,ul.mainmenu li a:active,ul.mainmenu li a:visited{
        color: #444;
        background: none;
    }
    ul.mainmenu li.active a,ul.mainmenu li.active a:link,ul.mainmenu li.active a:active,ul.mainmenu li.active a:visited{
        color: #EEE;
        background: #c63c0c;
    }
    ul.mainmenu li a:hover{
        color: white;
        background: #c63c0c;
    }
    ul.mainmenu li.active a:hover{
        color: #fff;
    }
    .read-more{
        display: inline-block;
        float: left;
        text-align: left;
        margin-bottom: 40px;
    }
    
    footer p.social{
            text-align: right;
            line-height: 40px;
    }
    footer p.copy{
        text-align: left;
        line-height: 40px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}